/* Applico il font a tutto il documento */
body {
	font-family: 'Arial', sans-serif;
}

/* I titoli sono neri */
h1, h2, h3, h4, h5, h6 {
	color: #222222;
}

/* Applico ai paragrafi il colore rosso */
p {
	color: red;
}

/* Applico ai paragrafi con classe "p2" il colore blu */
p.p2 {
	color: blue; /*!!! Verrà sovrascritta nell'head*/
}

/* Applico ai paragrafi con classe "p3" il colore blu */
p.p3 {
	color: blue;
}
		
/* Applico a TUTTI gli elementi che hanno classe .importante la sottolineature */
.importante {
	text-decoration: underline;
}
