/* Applico il font a tutto il documento */
body {
	font-family: 'Arial', sans-serif;
}

.square {
	width: 300px;
	height: 300px;
	float: left;
	
	margin-left: 10px;
	margin-right: 10px;
	
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

#first {
	background-color: #ff0000;
}

#second {
	background-color: #00ff00;
}

#third {
	background-color: #0000ff;
}